<p>Let's Play!</p>

<form action='game_on' method='POST'>
	<p> Select an item </p>
	<input type='radio' name='item' value='rock'>Rock
	<br>
	<input type='radio' name='item' value='paper'>Paper
	<br>
	<input type='radio' name='item' value='scissors'>Scissors
	<br>
	<input type='submit'/>
</form>